<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': '' ">
    <div class="logo-container">

        <a href="#"><img src="https://argon-dashboard-flask.creative-tim.com/static/assets/img/brand/blue.png"
                alt="Logo"></a>
        <!--<button class="logo" (click)="toggleCollapse()">A </button>
         @if(collapsed){
            <div class="logo-text">Angular</div>
        }
        @if(collapsed){
            <button class="btn-close" (click)="closeCollapse()">
                <i class="pi pi-times" style="color: #ffff; font-size: 24px;" ></i>
            </button>
        }
        -->
    </div>
    <!-- <ul class="sidenav-nav">
        @for (header of nhomQuyens; track $index) {
            @if (this.checkNhomQuyenId(header.id)) {
        <li class="sidenav-nav-item">
            <a  class="sidenav-nav-link"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="header.icon"></i>
                <span class="sidenav-link-text">{{header.tenGoi}}</span>
            </a>
        </li>
            }
        }
    </ul> -->
    
    <div class="sidenav-bar">
        <ul class="menu">
            <li class="menu-item">
                <a class="active" href="#"><i class="pi pi-home"></i> <span>Dashboard</span></a>
            </li>
            <li class="menu-item">
                <a href="#">Item 1</a>
            </li>
            <li class="menu-item">
                <a href="#">Item 1</a>
            </li>
            <li class="menu-item">
                <a href="#">Item 1</a>
            </li>
        </ul>
    </div>
</div>