/* .sidenav{
    background: #fff;
    transition: all .5s ease;
    width: 100%;
    height: 100vh;
    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;

        .logo {
            background: #ffff;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
        }
        .logo-text{
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: #ffff;

        }
        .btn-close{
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;
        }
    }
}
.sidenav-collapsed{
    width: 16.5625rem;

}
.sidenav-nav{
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65em);
    cursor: pointer;
    overflow: hidden;
    .sidenav-nav-item{
        width: 100%;
        margin-bottom: 0.625rem;
        .sidenav-nav-link{
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            border-radius: 0.625rem;
            text-decoration: none;
            transition: all .3s ease;
            .sidenav-link-icon{
                font-weight: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }
            .sidenav-link-text{
                margin-left: 1.5rem;
            }
        }
    }
    .sidenav-nav-item:hover{
        .sidenav-nav-link{
            background-color: #ffff;
            color: #000;
        }
    }
} */
.sidenav {
    width: 100%;
    height: 100%;

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
        margin-bottom: 30px;

        a {
            width: 80%;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .sidenav-bar {
        .menu {
            width: 100%;

            .menu-item {
                list-style: none;
                transition: all .3s ;
                a {
                    display: flex;
                    align-items: center;
                    height: 45px;
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.7);
                    text-decoration: none;
                    line-height: 1;
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                    padding-right: 1rem;
                    padding-left: 1rem;
                    transition: all .3s ;
                    i {
                        padding: 5px 15px 5px 3px;
                        font-size: 17px;
                    }

                    span {
                        line-height: 1;
                    }

                }

                .active {

                    border-radius: 0.375rem;
                    background: #35bf762e; 
                    color: #25975a;

                }

                &:hover {
                    a {
                        border-radius: 0.375rem;
                        background: #35bf762e; 
                        color: #25975a;

                    }
                }
            }
        }
    }
}