<div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-4 gap-2" >
        <ng-template pTemplate="left">
            <p-button
                severity="success" 
                label="Thêm" 
                icon="pi pi-plus" 
                class="mr-2" 
                (onClick)="openNew()"
            />
            <p-button
                severity="danger" 
                label="Sửa" 
                (onClick)="editNhomQuyen()"
                [disabled]="!selectedNhomQuyen || !selectedNhomQuyen.length" 
            />
                <p-button
                severity="danger" 
                label="Xóa" 
                icon="pi pi-trash" 
            
                [disabled]="!selectedNhomQuyen || !selectedNhomQuyen.length" />
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload 
                mode="basic" 
                accept="image/*" 
                [maxFileSize]="1000000" 
                label="Import" 
                chooseLabel="Import" 
                class="mr-2 inline-block" />
            <p-button
                severity="help" 
                label="Export" 
                icon="pi pi-upload" />
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="nhomQuyenResponse"
        [rows]="1"
        [lazy]="true"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedNhomQuyen"
        [rowHover]="true"
        dataKey="id"    
        [totalRecords]="totalRow"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[1,2,3]"
        (onLazyLoad)="loadNhomQuyenlazy($event)"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Quản lí nhóm quyền</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="name" style="min-width:15rem">
                    Tên gọi 
                </th>
                <th>
                    Icon
                </th>
               
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nhomQuyen>
            <tr>
                <td>
                    <p-tableCheckbox [value]="nhomQuyen" />
                </td>
                <td>
                    {{ nhomQuyen.tenGoi }}
                </td>
                <td>
                    {{ nhomQuyen.icon }}
                </td>
       
                <td>
                    <p-button 
                        icon="pi pi-pencil" 
                        class="mr-2" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="success" 
                         />
                    <p-button 
                        icon="pi pi-trash" 
                        severity="danger" 
                        [rounded]="true" 
                        [outlined]="true" 
                         />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{ nhomQuyenResponse ? nhomQuyenResponse.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
    <p-dialog 
    [(visible)]="nhomQuyentDialog" 
    [style]="{ width: '450px' }" 
    header="Nhóm Quyền" 
    [modal]="true" 
    styleClass="p-fluid">
        <ng-template pTemplate="content">
            <input type="hidden" [(ngModel)]="postNhomQuyenRequest.isEdit" [value]="postNhomQuyenRequest.isEdit">
            <input type="hidden" [(ngModel)]="postNhomQuyenRequest.id" [value]="postNhomQuyenRequest.id">
            <div class="field">
                <label for="name">Tên gọi</label>
                <input 
                    type="text" 
                    pInputText 
                    id="name" 
                    [value]="postNhomQuyenRequest.tenGoi"
                    [(ngModel)]="postNhomQuyenRequest.tenGoi" 
                    required 
                    autofocus />
                <small class="p-error" *ngIf="submitted && !postNhomQuyenRequest.tenGoi">
                    Tên không được để trống
                </small>
            </div>
            <div class="field">
                <label for="description">Icon</label>
                <textarea 
                    id="description" 
                    pInputTextarea 
                    [(ngModel)]="postNhomQuyenRequest.icon" 
                    [value]="postNhomQuyenRequest.icon"
                    required 
                    rows="1" 
                    cols="20">
                </textarea>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <p-button 
                label="Cancel" 
                icon="pi pi-times" 
                [text]="true" 
                (onClick)="hideDialog()" />
            <p-button
                label="Save" 
                icon="pi pi-check" 
                [text]="true" 
                (onClick)="saveNhomQuyen()"
                 />
        </ng-template>
</p-dialog>
    <p-confirmDialog [style]="{ width: '450px' }" />
</div>