.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-panel {
  position: relative;
}

.user-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(112, 71, 71);
  border: 1px solid #874646;
  border-radius: 4px;
  width: 150px;
  z-index: 9999;
}

.user-panel:hover .user-dropdown {
  display: block;
}

.dropdown-menu {
  padding: 5px;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #6f4242;
}

.user-icon {
  cursor: pointer;
}

.ml-auto {
  margin-left: auto;
}
