<div class="body" [ngClass]="getBodyClass()">
    <!-- <router-outlet></router-outlet> -->
    <div class="header">
        <div class="left-box">
            <form action="">
                <div class="search-box">
                    <i class="pi pi-search"></i>
                    <input class="wrap-btn search-btn" type="text" name="" id="" placeholder="Search">
                </div>
            </form>
        </div>
        <div class="right-box">
            <div class="nofication-box">
                <div class="nofi-icon">
                    <i class="pi pi-bell">
                        <div class="nofi-num">2</div>
                    </i>
                </div>
                <div class="dropdown-box">
                    <div class="title">Có <span>2</span> thông báo mới !</div>
                    <div class="list-group">
                        <div class="item-group">
                            <div class="ava">
                                <img src="https://argon-dashboard-flask.creative-tim.com/static/assets/img/theme/team-1.jpg"
                                    alt="avatar">
                            </div>
                            <div class="content">
                                <div class="info">
                                    <div class="name">Hoang Bao</div>
                                    <div class="time"> 12:20:00 Thur </div>
                                </div>

                                <div class="describe">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Repellendus, repudiandae!</div>
                            </div>

                        </div>
                        <div class="item-group">
                            <div class="ava">
                                <img src="https://argon-dashboard-flask.creative-tim.com/static/assets/img/theme/team-1.jpg"
                                    alt="avatar">
                            </div>
                            <div class="content">
                                <div class="info">
                                    <div class="name">Hoang Bao</div>
                                    <div class="time"> 12:20:00 Thur </div>
                                </div>

                                <div class="describe">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Repellendus, repudiandae!</div>
                            </div>

                        </div>
                        <div class="item-group">
                            <div class="ava">
                                <img src="https://argon-dashboard-flask.creative-tim.com/static/assets/img/theme/team-1.jpg"
                                    alt="avatar">
                            </div>
                            <div class="content">
                                <div class="info">
                                    <div class="name">Hoang Bao</div>
                                    <div class="time"> 12:20:00 Thur </div>
                                </div>

                                <div class="describe">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Repellendus, repudiandae!</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="admin-box">
                <div class="ava">
                    <img src="https://argon-dashboard-flask.creative-tim.com/static/assets/img/theme/team-4.jpg"
                        alt="avatar">
                    
                </div>
                <div class="name">Hoang Bao</div>
            </div>
        </div>
    </div>
    <div class="main-revenue">
        <div class="list-revenue">
            <div class="item-revenue">
                <div class="top">
                    <div class="content">
                        <span>Doanh Thu</span>
                        <span class="num">120.000 VNĐ</span>
                    </div>
                    <div class="icon"><i class="pi pi-dollar"></i></div>
                </div>
                <div class="bottom">
                    <div>Tăng <span  class="percent">3,5%</span>  so với tháng trước</div>

                </div>
            </div>
            <div class="item-revenue">
                <div class="top">
                    <div class="content">
                        <span>Doanh Thu</span>
                        <span class="num">120.000 VNĐ</span>
                    </div>
                    <div class="icon"><i class="pi pi-dollar"></i></div>
                </div>
                <div class="bottom">
                    <div>Tăng <span  class="percent">3,5%</span>  so với tháng trước</div>

                </div>
            </div>
            <div class="item-revenue">
                <div class="top">
                    <div class="content">
                        <span>Doanh Thu</span>
                        <span class="num">120.000 VNĐ</span>
                    </div>
                    <div class="icon"><i class="pi pi-dollar"></i></div>
                </div>
                <div class="bottom">
                    <div>Tăng <span  class="percent">3,5%</span>  so với tháng trước</div>

                </div>
            </div>
            <div class="item-revenue">
                <div class="top">
                    <div class="content">
                        <span>Doanh Thu</span>
                        <span class="num">120.000 VNĐ</span>
                    </div>
                    <div class="icon"><i class="pi pi-dollar"></i></div>
                </div>
                <div class="bottom">
                    <div>Tăng <span  class="percent">3,5%</span>  so với tháng trước</div>

                </div>
            </div>
        </div>
    </div>

    
</div>